@tailwind base;
@tailwind components;
@tailwind utilities;

/* home page banner css */
.baner {
  background: #fcfcd0
    url(https://www.orangescrum.com/img/home/banner-image-container.webp)
    no-repeat 150% bottom;
  background-size: 60% 50%;
  padding: 40px 0px 50px;
  position: relative;
  z-index: -1;
}

.container_medium {
  width: 100%;
  max-width: calc(1200px - 0px);
  max-width: -webkit-calc(1200px - 0px);
  max-width: -moz-calc(1200px - 0px);
  margin: 0 auto;
}

.width-100-per {
  width: 100%;
}

.hero_mover {
  padding-top: 0px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}

.baner aside.left {
  padding-right: 30px;
  padding-bottom: 80px;
}
.width-45-per {
  width: 45%;
}
.media-center {
  text-align: center !important;
}
.media-100 {
  width: 100% !important;
}
.hero_title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: left;
}

.text-left {
  text-align: left;
}
figure {
  margin: 0;
}
.mt_30 {
  margin-top: 30px;
}
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.baner aside.right {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.hero_title h1 {
  font-size: 72px;
  line-height: 80px;
  font-weight: 400;
  color: #212121;
  margin: 0 0 15px;
}

.width-55-per {
  width: 55%;
}
.baner aside.right figure {
  position: relative;
  top: 0;
  width: 630px;
  height: 494px;
}

.text-right {
  text-align: right;
}
img {
  max-width: 100%;
}
.onload_scale {
  transition: all 2s ease-in-out;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  transform: scale(0.6);
}
.baner::after {
  content: "";
  width: 100%;
  height: 180px;
  background: url(https://www.orangescrum.com/img/home/baner-bottom-bg.webp)
    no-repeat center center;
  background-size: 100% 150%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
}

.action_blue_btn {
  height: 45px;
  line-height: 40px;
  background: #1d6ae5;
  border: 2px solid transparent;
}
.action_blue_btn,
.action_pink_btn_outline {
  text-decoration: none;
  display: inline-block;
  height: 50px;
  cursor: pointer;
  font-size: 18px;
  line-height: 50px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  border: none;
  padding: 0 20px;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}

.action_blue_btn .right_arrow {
  width: 14px;
  height: 16px;
  display: inline-block;
  background: url(../assets/arrow-blue.webp) no-repeat 0px 0px;
  background-size: 12px auto;
  margin-left: 5px;
  vertical-align: middle;
  position: relative;
  top: -1px;
}
.pr {
  position: relative;
}
.action_blue_btn::before {
  content: "";
  background: url(https://www.orangescrum.com/img/home_outer/no-credit-card-required-home.svg)
    no-repeat 0px 0px;
  background-size: 100% 100%;
  position: absolute;
  top: 44px;
  right: -38px;
  width: 150px;
  height: 60px;
  pointer-events: none;
}
.action_blue_btn:hover {
  background: #1555ba;
  color: #fff;
  box-shadow: 0px 10px 20px rgb(92 96 99 / 40%);
}

/* testimonial section */
.Pseudo_Card::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 32px solid #d1cccc;
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -32px;
  margin: auto;
  z-index: 1;
}
.Pseudo_Card::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 32px solid #fff;
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
  margin: auto;
  z-index: 1;
}

/*Top Rated customer Success */

.pr {
  position: relative;
}
.compare_saas_selfhost::before {
  content: "";
  width: 100%;
  height: 300px;
  position: absolute;
  left: 0;
  top: 0;
  background: #000b50;
  pointer-events: none;
}

.rate_sucess_card:hover {
  box-shadow: 0 10px 50px -5px rgb(51 71 91 / 12%);
  transform: scale(1.014);
  cursor: pointer;
  border: none;
}

/* customer Review Analytics */
.cutomer_analytics {
  margin-top: -150px;
}

/* Unable Track Section */
.unable_track {
  background: #f8f9ff;
}
.unable_track {
  padding: 30px 0px 100px;
}
.subhero_title {
  margin-bottom: 30px;
}

.text-center {
  text-align: center;
}
.efficiency_productivity {
  max-width: 1100px;
  margin: 60px auto 30px;
}
.align-item-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.unable_track aside {
  padding: 0px 30px;
}
.width-40-per {
  width: 40%;
}
.subhero_title {
  margin-bottom: 30px;
}
.text-left {
  text-align: left;
}

.mt_30 {
  margin-top: 30px;
}
.unable_track aside {
  padding: 0px 30px;
}

.width-60-per {
  width: 60%;
}
.text-right {
  text-align: right;
}
.link_text {
  font-size: 16px;
  font-weight: 600;
  color: #1d6ae5;
}
.subhero_title h3 {
  font-size: 24px;
  line-height: 34px;
}
.subhero_title p a {
  text-decoration: none;
  color: #1d6ae5;
}
.transition-scale:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
/* .with_os {
  position: relative;
  padding: 0;
}
.with_os::before {
  content: '';
  width: 100%;
  height: calc(100% - 180px);
  height: -webkit-calc(100% - 180px);
  height: -moz-calc(100% - 180px);
  background: #000b50;
  pointer-events: none;
  z-index: -1;
  position: absolute;
  left: 0;
  bottom: 0;
}

.pm_pain_point .left {
  padding: 65px 0px;
}
.subhero_title {
  margin-bottom: 30px;
}
.with_os .os_depends {
  align-items: flex-end;
  width: 100%;
  position: relative;
  top: 70px;
  z-index: 1;
  margin: 0 auto;
}
.with_os .os_depends aside {
  background: #fff;
  box-shadow: 0px 0px 30px rgb(117 123 129 / 28%);
  border-radius: 15px;
  margin-bottom: 30px;
}
.with_os .depend_head {
  background: #FFC729;
  color: #212121;
}
 .depend_head {
  height: 65px;
  background: #c7c8f6;
  padding: 0 10px;
  font-size: 24px;
  line-height: 65px;
  font-weight: 600;
  text-align: center;
}

.os_depends aside {
  position: relative;
  box-shadow: 0px 0px 15px #e6eaee;
  border-radius: 4px;
  overflow: hidden;
}
.with_os ul.checklist li {
  border-top: 1px dashed #909090;
  padding-top: 15px;
}
.with_os ul.checklist {
  padding: 5px 20px 40px;
}
.with_os ul.checklist li {
  border-top: 1px dashed #909090;
  padding-top: 15px;
}
ul.checklist li {
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  margin: 15px 0 0;
  padding-left: 30px;
  position: relative;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}
.pm_pain_point {
  align-items: flex-end;
}
.with_os .with_depend .depend_head {
  background: #FFC729;
  color: #212121;
  height: 90px;
  line-height: 90px;
}
ul.checklist li::before {
  width: 18px;
  height: 18px;
  top: 8px;
  background: #ff722e !important;
}
ul.checklist li::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4546e0;
  position: absolute;
  left: 0;
  top: 4px;
}
.with_os ul.checklist li::before {
  top: 22px;
}
 ul.checklist li::after {
  height: 10px;
  width: 5px;
  top: 11px;
  border-bottom: 2px solid #fff !important;
  border-right: 2px solid #fff !important;
}

ul.checklist li::after {
  content: '';
  display: inline-block;
  transform: rotate(45deg);
  height: 12px;
  width: 6px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  position: absolute;
  left: 7px;
  top: 6px;
}
.with_os ul.checklist li::after {
  top: 24px;
}
 .left {
  padding: 65px 0px;
}

.os_depends aside.with_depend {
    left: -15px;
    margin: 0;
    
}
.with_os .with_depend ul.checklist li::before {
  background: #63bb86 !important;
}
 .subhero_title h3 {
  font-size: 32px;
  line-height: 45px;
  font-weight: 600;
  font-family: 'Work Sans', sans-serif;
  margin: 0 0 15px;
  
}
.width-35-per {
  width: 35% !important;
}
.width-65-per{
  width: 65% !important;
}
.subhero_title p {
  padding: 0;
  font-size: 18px;
  line-height: 30px;
}
.width-50-per {
  width: 50%;
}
ul.checklist li:hover {
  padding-left: 33px;
} */

.team_sec a span.bst_spn {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  width: 66px;
  height: 65px;
  background: url(https://www.orangescrum.com/img/features/sales-link-icons.png)
    no-repeat;
}
.team_sec a span.bst_spn.hw_spn {
  background-position: 0 -343px;
}
.team_sec a span.bst_spn.ty_spn {
  background-position: 0 -85px;
}
.team_sec a span.bst_spn.bk_spn {
  background-position: 18px 0;
}

.develop_sp_icon_1 {
  background-position: -85px 0;
  background: url(https://www.orangescrum.com/img/teams/develop-sp.webp)
    no-repeat 0 0;
  width: 70px;
  height: 70px;
  display: inline-block;
  position: absolute;
  left: 20px;
  top: 20px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.product_template {
  padding: 80px 0;
  text-align: center;
  background: url(https://www.orangescrum.com/img/teams/Custom-pre-built-templates.webp)
    no-repeat 0 0;
  background-size: 100% 600px;
}
.template_card {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  background: #fff;
  padding: 85px 50px 50px;
  border-radius: 15px;
  font-size: 13px;
  line-height: 20px;
  color: #4af3eb;
  font-weight: 500;
  position: relative;
  min-height: 380px;
  border: 1px solid #adebe8;
  box-shadow: 0 0 30px rgb(191 187 216 / 42%);
}
.template_card figure {
  margin: 0;
  display: inline-block;
  position: absolute;
  left: 30px;
  top: -50px;
}
.start_template {
  font-weight: 600;
  margin-top: auto;
}
.faq_ans {
  font-size: 18px;
  line-height: 28px;
  color: #2b2d3f;

  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
.customer_testimonial {
  padding: 80px 0;
  background: url(../../src/assets/solution/productmanage/testimonial-bg.webp)
    no-repeat bottom center;
    
  background-size: 100% 540px;
}
.container_medium {
  width: 100%;
  max-width: calc(1200px - 0px);
  max-width: -webkit-calc(1200px - 0px);
  max-width: -moz-calc(1200px - 0px);
  margin: 0 auto;
}
.owl-wrapper {
 
  left: 0px;
  display: block;
  transition: all 0ms ease 0s;
  transform: translate3d(0px, 0px, 0px);
  transform-origin: 600px center;
  perspective-origin: 600px center;
}
.owl-page{
  display: inline-block;
    zoom: 1;
    cursor: pointer;
}
/* .custom_afterclient{
  content: '';
    background: url(../assets/solution/clientmanagement/crm-no-card2.svg) no-repeat 0px 0px;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    right: -160px;
    width: 150px;
    height: 65px;
} */

