@tailwind base;
@tailwind components;
@tailwind utilities;

/* home page banner css */
.baner {
  background: #fcfcd0
    url(https://www.orangescrum.com/img/home/banner-image-container.webp)
    no-repeat 150% bottom;
  background-size: 60% 50%;
  padding: 40px 0px 50px;
  position: relative;
  z-index: -1;
}

.container {
  width: 100%;
  max-width: calc(1200px - 0px);
  max-width: -webkit-calc(1200px - 0px);
  max-width: -moz-calc(1200px - 0px);
  margin: 0 auto;
}

.width-100-per {
  width: 100%;
}

.hero_mover {
  padding-top: 0px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}

.baner aside.left {
  padding-right: 30px;
  padding-bottom: 80px;
}
.width-45-per {
  width: 45%;
}
.media-center {
  text-align: center !important;
}
.media-100 {
  width: 100% !important;
}
.hero_title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: left;
}

.text-left {
  text-align: left;
}
figure {
  margin: 0;
}
.mt_30 {
  margin-top: 30px;
}
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.baner aside.right {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.hero_title h1 {
  font-size: 72px;
  line-height: 80px;
  font-weight: 400;
  color: #212121;
  margin: 0 0 15px;
}

.width-55-per {
  width: 55%;
}
.baner aside.right figure {
  position: relative;
  top: 0;
  width: 630px;
  height: 494px;
}

.text-right {
  text-align: right;
}
img {
  max-width: 100%;
}
.onload_scale {
  transition: all 2s ease-in-out;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  transform: scale(0.6);
}
.baner::after {
  content: "";
  width: 100%;
  height: 180px;
  background: url(https://www.orangescrum.com/img/home/baner-bottom-bg.webp)
    no-repeat center center;
  background-size: 100% 150%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  pointer-events: none;
}

.action_blue_btn {
  height: 45px;
  line-height: 40px;
  background: #1d6ae5;
  border: 2px solid transparent;
}
.action_blue_btn,
.action_pink_btn_outline {
  text-decoration: none;
  display: inline-block;
  height: 50px;
  cursor: pointer;
  font-size: 18px;
  line-height: 50px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  border: none;
  padding: 0 20px;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}

.action_blue_btn .right_arrow {
  width: 14px;
  height: 16px;
  display: inline-block;
  background: url(../assets/arrow-blue.webp) no-repeat 0px 0px;
  background-size: 12px auto;
  margin-left: 5px;
  vertical-align: middle;
  position: relative;
  top: -1px;
}
.pr {
  position: relative;
}
.action_blue_btn::before {
  content: "";
  background: url(https://www.orangescrum.com/img/home_outer/no-credit-card-required-home.svg)
    no-repeat 0px 0px;
  background-size: 100% 100%;
  position: absolute;
  top: 44px;
  right: -38px;
  width: 150px;
  height: 60px;
  pointer-events: none;
}
.action_blue_btn:hover {
  background: #1555ba;
  color: #fff;
  box-shadow: 0px 10px 20px rgb(92 96 99 / 40%);
}

/* testimonial section */
.Pseudo_Card::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 32px solid #d1cccc;
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -32px;
  margin: auto;
  z-index: 1;
}
.Pseudo_Card::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 32px solid #fff;
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
  margin: auto;
  z-index: 1;
}

/*Top Rated customer Success */

.pr {
  position: relative;
}
.compare_saas_selfhost::before {
  content: "";
  width: 100%;
  height: 300px;
  position: absolute;
  left: 0;
  top: 0;
  background: #000b50;
  pointer-events: none;
}

.rate_sucess_card:hover {
  box-shadow: 0 10px 50px -5px rgb(51 71 91 / 12%);
  transform: scale(1.014);
  cursor: pointer;
  border: none;
}

/* customer Review Analytics */
.cutomer_analytics {
  margin-top: -150px;
}

/* Unable Track Section */
.unable_track {
  background: #f8f9ff;
}
.unable_track {
  padding: 30px 0px 100px;
}
.subhero_title {
  margin-bottom: 30px;
}

.text-center {
  text-align: center;
}
.efficiency_productivity {
  max-width: 1100px;
  margin: 60px auto 30px;
}
.align-item-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.unable_track aside {
  padding: 0px 30px;
}
.width-40-per {
  width: 40%;
}
.subhero_title {
  margin-bottom: 30px;
}
.text-left {
  text-align: left;
}

.mt_30 {
  margin-top: 30px;
}
.unable_track aside {
  padding: 0px 30px;
}

.width-60-per {
  width: 60%;
}
.text-right {
  text-align: right;
}
.link_text {
  font-size: 16px;
  font-weight: 600;
  color: #1d6ae5;
}
.subhero_title h3 {
  font-size: 24px;
  line-height: 34px;
}
.subhero_title p a {
  text-decoration: none;
  color: #1d6ae5;
}
.transition-scale:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
/* .with_os {
  position: relative;
  padding: 0;
}
.with_os::before {
  content: '';
  width: 100%;
  height: calc(100% - 180px);
  height: -webkit-calc(100% - 180px);
  height: -moz-calc(100% - 180px);
  background: #000b50;
  pointer-events: none;
  z-index: -1;
  position: absolute;
  left: 0;
  bottom: 0;
}

.pm_pain_point .left {
  padding: 65px 0px;
}
.subhero_title {
  margin-bottom: 30px;
}
.with_os .os_depends {
  align-items: flex-end;
  width: 100%;
  position: relative;
  top: 70px;
  z-index: 1;
  margin: 0 auto;
}
.with_os .os_depends aside {
  background: #fff;
  box-shadow: 0px 0px 30px rgb(117 123 129 / 28%);
  border-radius: 15px;
  margin-bottom: 30px;
}
.with_os .depend_head {
  background: #FFC729;
  color: #212121;
}
 .depend_head {
  height: 65px;
  background: #c7c8f6;
  padding: 0 10px;
  font-size: 24px;
  line-height: 65px;
  font-weight: 600;
  text-align: center;
}

.os_depends aside {
  position: relative;
  box-shadow: 0px 0px 15px #e6eaee;
  border-radius: 4px;
  overflow: hidden;
}
.with_os ul.checklist li {
  border-top: 1px dashed #909090;
  padding-top: 15px;
}
.with_os ul.checklist {
  padding: 5px 20px 40px;
}
.with_os ul.checklist li {
  border-top: 1px dashed #909090;
  padding-top: 15px;
}
ul.checklist li {
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  margin: 15px 0 0;
  padding-left: 30px;
  position: relative;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
}
.pm_pain_point {
  align-items: flex-end;
}
.with_os .with_depend .depend_head {
  background: #FFC729;
  color: #212121;
  height: 90px;
  line-height: 90px;
}
ul.checklist li::before {
  width: 18px;
  height: 18px;
  top: 8px;
  background: #ff722e !important;
}
ul.checklist li::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4546e0;
  position: absolute;
  left: 0;
  top: 4px;
}
.with_os ul.checklist li::before {
  top: 22px;
}
 ul.checklist li::after {
  height: 10px;
  width: 5px;
  top: 11px;
  border-bottom: 2px solid #fff !important;
  border-right: 2px solid #fff !important;
}

ul.checklist li::after {
  content: '';
  display: inline-block;
  transform: rotate(45deg);
  height: 12px;
  width: 6px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  position: absolute;
  left: 7px;
  top: 6px;
}
.with_os ul.checklist li::after {
  top: 24px;
}
 .left {
  padding: 65px 0px;
}

.os_depends aside.with_depend {
    left: -15px;
    margin: 0;
    
}
.with_os .with_depend ul.checklist li::before {
  background: #63bb86 !important;
}
 .subhero_title h3 {
  font-size: 32px;
  line-height: 45px;
  font-weight: 600;
  font-family: 'Work Sans', sans-serif;
  margin: 0 0 15px;
  
}
.width-35-per {
  width: 35% !important;
}
.width-65-per{
  width: 65% !important;
}
.subhero_title p {
  padding: 0;
  font-size: 18px;
  line-height: 30px;
}
.width-50-per {
  width: 50%;
} */

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.pager-lis {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  display: block;
  line-height: 1;
  max-width: 40px;
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 2;
  margin-top: 0;
  margin-bottom: 10px;
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  color: #858585;
  font-size: 14px;
}

.group:hover .animate-fadeInLeft {
  animation: fadeInLeft 0.5s ease-in-out;
}
.card_testimonial {
  background-image: url(../../src/assets/solution/clientmanagement/work-management-testimonial.webp);
}
.lwr-prt:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(
    147.46deg,
    rgb(0 170 255 / 17%) 0,
    rgb(0 170 255 / 5%) 20.68%,
    rgb(0 170 255 / 6%) 74.58%
  );
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.span_element {
  display: none;
  width: 130px;
  height: 40px;
  font-size: 15px;
  line-height: 40px;
  color: #fff;
  background: #0af;
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 11;
  cursor: pointer;
  opacity: 0;
  font-weight: 500;
  outline: 0;
  text-align: center;
  text-transform: lowercase;
  -webkit-transition: all 0.5s ease-in-out;
}

.team_sec a span.bst_spn {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  width: 66px;
  height: 65px;
  background: url(https://www.orangescrum.com/img/features/sales-link-icons.png)
    no-repeat;
}
.team_sec a span.bst_spn.hw_spn {
  background-position: 0 -343px;
}
.team_sec a span.bst_spn.ty_spn {
  background-position: 0 -85px;
}
.team_sec a span.bst_spn.bk_spn {
  background-position: 18px 0;
}

.develop_sp_icon_1 {
  background-position: -85px 0;
  background: url(https://www.orangescrum.com/img/teams/develop-sp.webp)
    no-repeat 0 0;
  width: 70px;
  height: 70px;
  display: inline-block;
  position: absolute;
  left: 20px;
  top: 20px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
.product_template {
  padding: 80px 0;
  text-align: center;
  background: url(https://www.orangescrum.com/img/teams/Custom-pre-built-templates.webp)
    no-repeat 0 0;
  background-size: 100% 600px;
}
.template_card {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  background: #fff;
  padding: 85px 50px 50px;
  border-radius: 15px;
  font-size: 13px;
  line-height: 20px;
  color: #4af3eb;
  font-weight: 500;
  position: relative;
  min-height: 380px;
  border: 1px solid #adebe8;
  box-shadow: 0 0 30px rgb(191 187 216 / 42%);
}
.template_card figure {
  margin: 0;
  display: inline-block;
  position: absolute;
  left: 30px;
  top: -50px;
}
.start_template {
  font-weight: 600;
  margin-top: auto;
}
.faq_ans {
  font-size: 18px;
  line-height: 28px;
  color: #2b2d3f;
  overflow: hidden;
  margin-top: 20px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
.customer_testimonial {
  padding: 80px 0;
  background: url(../../src/assets/solution/productmanage/testimonial-bg.webp)
    no-repeat bottom center;

  background-size: 100% 540px;
}
.container_medium {
  width: 100%;
  max-width: calc(1200px - 0px);
  max-width: -webkit-calc(1200px - 0px);
  max-width: -moz-calc(1200px - 0px);
  margin: 0 auto;
}
.owl-wrapper {
  left: 0px;
  display: block;
  transition: all 0ms ease 0s;
  transform: translate3d(0px, 0px, 0px);
  transform-origin: 600px center;
  perspective-origin: 600px center;
}
.owl-page {
  display: inline-block;
  zoom: 1;
  cursor: pointer;
}
/* .custom_afterclient{
  content: '';
    background: url(../assets/solution/clientmanagement/crm-no-card2.svg) no-repeat 0px 0px;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    right: -160px;
    width: 150px;
    height: 65px;
} */
.blue-shadow {
  box-shadow: 0 0 30px rgb(193 194 195 / 25%);
}
.shadow {
  box-shadow: 0 0 15px #eaf0f9;
}

.wht_nw_sec span.wh_nw_spn {
  background: url(../assets/homepage/new-releases-icons.png);
  height: 76px;
  width: 74px;
  position: absolute;
  transition: all 0.5s ease;
}
.wht_nw_sec span.wh_nw_spn.wh_nw_spn_2 {
  background-position: 0px -100px;
}
.wht_nw_sec span.wh_nw_spn.wh_nw_spn_3 {
  background-position: 0px -189px;
}
.wht_nw_sec span.wh_nw_spn:hover {
  transform: scale(1.2);
}

.p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #212121;
  margin-bottom: 15px;
}
.header_box {
  margin-bottom: 80px;
  text-align: center;
  box-sizing: border-box;
}
.heading {
  font-size: 55px;
  line-height: 65px;
  font-weight: 700;
  font-family: "Work Sans", sans-serif;
  color: #24292f;
}
.page-list {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  display: block;
  line-height: 1;
  max-width: 40px;
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 2;
  color: #858585;
  font-size: 14px;
}
.li-link {
  text-decoration: none;
  border-radius: 1.2em;
  border: 0;
  cursor: pointer;
  display: block;
  font-size: 16px;
  color: #000;
  line-height: 1;
  padding: 15px 5px;
  text-align: center;
  width: 40px;
}
.li-link:hover {
  background: #0af;
  color: #fff;
}
.set_icon span.icon_devop {
  background: url(../assets/solution/productmanage/develop-sp.webp) -78px 0px;
  height: 70px;
  width: 70px;
  position: absolute;
  left: 8px;
}
.set_icon span.icon_devop.icon_devop_2 {
  background-position: -78px 170px;
}
.set_icon span.icon_devop.icon_devop_3 {
  background-position: -78px -67px;
}
li.li_icon span.hover_icon {
  background: url(../assets/solution/productmanage/develop-sp.webp);
  height: 70px;
  width: 70px;
  position: absolute;
  display: inline-block;
  left: -35px;
  margin: auto;
  display: none;
}
li.li_icon span.hover_icon.hover_icon_b {
  background-position: 0 -85px;
}

li.li_icon:hover span.hover_icon.hover_icon_a,
li.li_icon:hover span.hover_icon.hover_icon_b,
li.li_icon:hover span.hover_icon.hover_icon_c {
  display: block;
}
li.li_icon:hover span.icon_devop.icon_devop_1,
li.li_icon:hover span.icon_devop.icon_devop_2,
li.li_icon:hover span.icon_devop.icon_devop_3 {
  display: none;
}

.quote_position span.srt_quote {
  background: url(../assets/solution/bussinessoperation/testimonial-quote.png);
  height: 55px;
  width: 65px;
  position: relative;
  display: inline-block;
  margin-left: -65px;
}
.quote_position span.end_quote {
  background: url(../assets/solution/bussinessoperation/testimonial-quote.png);
  background-position: 0 -71px;
  vertical-align: text-top;
  margin-left: 10px;
  width: 65px;
  height: 55px;
  display: inline-block;
  position: relative;
}

.pg_all_teams {
  backface-visibility: hidden;
  transition: 0.3s ease;
  box-shadow: -8px -8px 20px rgba(112, 112, 112, 0.05),
    8px 8px 20px rgba(112, 112, 112, 0.05);
  background-color: #fff;
  text-align: left;
  border-radius: 10px;
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 30px 30px 30px 170px;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  box-sizing: border-box;
  border: 1px solid #0af;
  position: relative;
  -webkit-transition: 0.3s ease;
}
.pg_all_teams:hover {
  box-shadow: -8px -8px 20px rgba(112, 112, 112, 0.12),
    8px 8px 20px rgba(112, 112, 112, 0.12);
  -webkit-transform: scale(1.02) translateZ(0);
  transform: scale(1.02) translateZ(0);
}

.leranmore {
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #0af;
  text-transform: lowercase;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  align-items: center;
}

.arrow_right {
  color: #0af;
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  transition: transform 0.5s ease;
  margin-left: 10px;
}
.pg_all_teams.learnmore.arrow_right:hover {
  margin-left: 15px;
}
.card_hub {
  position: relative;
  padding: 0;
  width: 100%;
  height: 435px;
  background: #fff;
  text-decoration: none;
  color: #333;
  display: block;
  text-align: left;
  box-sizing: border-box;
  z-index: 11;
  overflow: hidden;
  box-shadow: 0 10px 20px #ddd;
  transition: 0.25s ease;
  -webkit-transition: 0.25s ease;
}

.card_animt {
  position: relative;


}
.card_animt .animt_1 {
  position: absolute;
  left: 0;
  right: 0;
  background: #fff;
  width: 100%;
  height: 100%;
  padding: 15px;
  box-sizing: border-box;
  display: block;
  transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  z-index: 11;
  transform: translateY(100%);
  
}
.card_animt.hovered .animt_1 {
  transform: translateY(-85%);
}
.trgl_top::before{
content: '';
pointer-events: none;
position: absolute;
top: -60px;
left: 0;
right: 0;
margin: auto;
padding-top: 130px;
background: #000b50;
clip-path: polygon(50% 0%, 110% 50%, -10% 50%);
}
.right_arrow{
  width: 14px;
    height: 16px;
    display: inline-block;
    background: url(https://www.orangescrum.com/img/home/arrow-blue.webp) no-repeat 0px 0px;
    background-size: 12px auto;
    margin-left: 5px;
    vertical-align: middle;
    position: relative;
    top: -1px;}
